---
title: Darwin Giles' Blog
---

<h2>Posts</h2>
<hr>
<ul>
    {% for post in site.posts %}
        <li>
            <img src='{{ post.picture }}'>
            <h3 class='post-title'><a href="{{ site.baseurl | append: post.url }}">{{ post.title }}</a></h3>
            <p>{{ post.excerpt }}</p>
        </li>
    {% endfor %}
</ul>