@import "reset";

$heading-color: #ff1f1f;
$text-color: #ffbfbf;

body {
    background-color: #3e3131;
}

#header {
    background-color: #580707;
    width: 80%;
    height: 48px;
    margin: 10px auto 0 auto;
    box-shadow: black 5px 5px 8px 1px;

    h1 {
        text-align: center;
        font-family: New Rocker, cursive;
        font-size: 32px;
        line-height: 48px;
        
        a {
            color: white;
        }
    }
}

#content {
    width: 75%;
    margin: 20px auto 0 auto;
    background-color: #210e0e;
    padding: 4px;
    box-shadow: black 5px 5px 8px 1px;

    h3 {
        font-size: 24px;
        margin-bottom: 8px;
    }
}

h2 {
    font-family: 'New Rocker', cursive;
    font-size: 32px;
    color: #ffbfbf;
}

.post-title {
    font-family: 'New Rocker', cursive;
    color: $heading-color;
    margin-bottom: 16px;

    a {
        color: $heading-color;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
}

p {
    font-family: 'Overpass', sans-serif;
    color: #ffbfbf;
    line-height: 20px;
}

img {
    max-height: 240px;
    max-width: 80%;
    text-align: center;
}

#post-content {
    h1 {
        font-family: New Rocker, cursive;
        font-size: 24px;
        line-height: 32px;
        color: $heading-color;
    }

    a {
        color: white;
    }

    a:visited {
        color: #b3b3b3;
    }

    p {
        margin-bottom: 12px;
    }

    ul {
        list-style-type: circle;
        margin-left: 24px;
        color: $text-color;
        margin-bottom: 12px;
    }
}