<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=New+Rocker|Overpass&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.baseurl | append: "/assets/css/styles.css"}}">
</head>
<body>
    <div id='header'>
        <h1><a href='{{ site.baseurl | append: '/' }}'>Darwin Giles</a></h1>
    </div>
    <div id='content'>
        {{ content }}
    </div>
</body>